.wrapper {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  /* grid-template-areas: "left right";
  grid-template-columns: auto auto; */
  width: 500px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ff9ff3;
  color: #fff;
  font-family: "Rubik", sans-serif;
  padding: 30px;
}

.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  font-size: 24px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 130px;
  width: 1px;
  background-color: #fff;
}

.right {
  text-align: end;
  display: flex;
  flex-direction: row;
  width: 220px;
  justify-content: space-between;
}

.label {
  text-align: start;
  padding-left: 0;
}

li {
  list-style: none;
}

.location {
  font-weight: 700;
}
